h1{
    color: #00ffff;
    background-color: #5f9ea0;
    margin-left: 50px;
}
a:link{
    color:#ff7f50;
}
a:visited{
    color:#ff7f50;
}
.menu a{  
    display: flex;
    background: #6495ed;   
    margin-left: 50px;
    justify-content: center;
}
.web{
    margin-left: 50px;
   color: #dc143c; 
   background-color: #006400;
}
.grid{
    background: #8b008b;
    margin-left: 50px;
    display:flex;
    justify-content: space-between;
}
.item{
    position: relative;
}
.item p{
    color: #8b008b;
    position: absolute;
    top: 50%;
    left:75%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity:1;
}
.logo{
    display: flex;
    margin:50px;
    justify-content: space-evenly;
}
.item{
    position: relative;
}
.item p{
    color:royalblue;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity:1;
}
